$main_color: gray;
$hover_color: rgb(107, 102, 102);
$text_color: black;
$opacity_color: rgb(159, 155, 155);
$validation_color: red;
$successe_color: rgb(247, 244, 244);
$start_color: white;
$move_container_color: rgb(203, 202, 202);
