<div class="spiner">
  <div *ngIf="status" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="container" *ngIf="product$ | async as product">
  <div class="card">
    <h3>{{ product.title }}</h3>
    <img
      *ngIf="activImg"
      class="active-img"
      [src]="activImg"
      alt="Loading Img"
    />
    <img
      *ngIf="!activImg"
      class="active-img"
      [src]="product.images[0]"
      alt="..loading"
    />
    <h6>{{ product.description }}</h6>

    <div class="other-imgs">
      <img
        *ngFor="let img of product.images"
        [src]="img"
        alt=""
        (click)="changeImg(img)"
      />
    </div>
  </div>
  <div class="more-details">
    <table>
      <tr>
        <td>rating:</td>
        <td>{{ product.rating }}</td>
      </tr>
      <tr>
        <td>stock:</td>
        <td>{{ product.stock }}</td>
      </tr>
      <tr>
        <td>brand:</td>
        <td>{{ product.brand }}</td>
      </tr>
      <tr>
        <td>category:</td>
        <td>{{ product.category }}</td>
      </tr>
      <tr>
        <td>discountPercentage:</td>
        <td>{{ product.discountPercentage }}</td>
      </tr>
      <tr>
        <td><h4>price:</h4></td>
        <td>
          <h4>{{ product.price | currency }}</h4>
        </td>
      </tr>
      <tr>
        <td><h5>count:</h5></td>
        <td>
          <h5>
            <input
              id="itemCount"
              type="number"
              value="1"
              [(ngModel)]="itemCount"
              min="0"
            />
          </h5>
        </td>
      </tr>
      <tr>
        <td><h5>total price:</h5></td>
        <td>
          <h4>{{ product.price * itemCount | currency }}</h4>
        </td>
      </tr>
    </table>

    <button class="buy-item" (click)="productTocart(product)">
      Add to cart
    </button>
  </div>
</div>
