<div class="move-container" *ngIf="vm$ | async as vm">
  <div class="container">
    <div class="inputs" [formGroup]="loginData">
      <input
        name="Username"
        type="text"
        placeholder="Username"
        maxlength="18"
        formControlName="username"
      />
      <div
        class="validation-error"
        *ngIf="controls.username.errors?.['required'] && controls.username.dirty"
      >
        *This field is required !
      </div>
      <input
        name="Password"
        [type]="passwordInputType"
        placeholder="Password"
        maxlength="25"
        formControlName="password"
      />
      <span
        (click)="updateVisibility('off')"
        *ngIf="statusVisibility == false"
        class="material-symbols-outlined visibility"
      >
        visibility_off
      </span>
      <span
        (click)="updateVisibility('on')"
        *ngIf="statusVisibility"
        class="material-symbols-outlined visibility"
      >
        visibility
      </span>
      <div
        class="validation-error"
        *ngIf="controls.password.errors?.['required'] && controls.password.dirty"
      >
        *This field is required
      </div>

      <div class="validation-error" *ngIf="vm.errorMsg">
        {{ vm.errorMsg }}
      </div>

      <button class="logIn" (click)="onSubmit()">
        Log In
        <span
          *ngIf="vm.loading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
      </button>
    </div>
  </div>
</div>
